body {
    margin: 0;
    padding: 0;
    background-image: url('anh_nen_dd.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #background {
    position: relative;
    width: 100%;
    height: 800px;
  }
#shark 
{
    position: absolute;
    left: 100px;
    top: 200px;
    width: 350px;
    height: 800px; 
    animation: Shark 10s linear infinite running;
    transform: scaleX(1);
}
@keyframes Shark 
{
    0% { left: 100px; top: 400px; }
    20% { left: 300px; top: 400px; }
    40% { left: 500px; top: 300px; }
    50% { left: 600px; top: 50px; }
    60% { left: 700px; top: 100px;  }
    80% { left: 500px; top: 200px; }
    100% { left: 100px; top: 400px; transform: scaleX(-1); }
}
#turtle
{
    position: absolute;
    left: 50px;
    top: 50px;
    width: 45px;
    height: 800px; 
    animation: Turtle 20s linear infinite running;
    transform: scaleX(1);
}
@keyframes Turtle 
{
    0% { left: 50px; top: 50px; }
    25% { left: 100px; top: 100px; }
    50% { left: 900px; top: 150px; }
    75% { left: 500px; top: 50px;  }
    100% { left: 900px; top: 100px; transform: scaleX(-1);}
}
#goldfish
{
    position: absolute;
    left: 50px;
    top: 50px;
    width: 45px;
    height: 800px; 
    animation: Goldfish 20s linear infinite running;
    transform: scaleX(1);
}
@keyframes Goldfish
{
    0% { left: 50px; top: 50px; }
    10% { left: 100px; top: 100px; }
    20% { left: 200px; top: 150px; }
    30% { left: 300px; top: 200px; }
    40% { left: 600px; top: 300px; }
    50% { left: 800px; top: 200px; }
    60% { left: 400px; top: 100px;  }
    80% { left: 200px; top: 50px; }
    100% { left: 100px; top: 200px; transform: scaleX(-1)};
}
#faintschool
{
    position: absolute;
    left: 50px;
    top: 50px;
    width: 45px;
    height: 800px; 
    animation: Faintschool 20s linear infinite running;
    transform: scaleX(1);
}
@keyframes Faintschool
{
    0% { left: 100px; top: 400px; }
    10% { left: 200px; top: 400px; }
    20% { left: 200px; top: 450px; }
    30% { left: 200px; top: 400px; }
    40% { left: 300px; top: 400px; }
    50% { left: 400px; top: 350px; }
    60% { left: 500px; top: 300px;  }
    80% { left: 600px; top: 300px; }
    100% { left: 700px; top: 250px; transform: scaleX(-1)};
}
#diver1
{
    position: absolute;
    left: 100px;
    top: 200px;
    width: 350px;
    height: 800px; 
    animation: Diver1 5s linear infinite running;
    transform: rotateX(180);
}
@keyframes Diver1
{
    0% { left: 100px; top: 200px; }
    100% { left: 800px; top: 400px;}
}
#diver2
{
    position: absolute;
    left: 100px;
    top: 200px;
    width: 350px;
    height: 800px; 
    animation: Diver2 7s linear infinite running;
    transform: rotateX(50);
}
@keyframes Diver2
{
    0% { left: 50px; top: 50px; }
    25% { left: 100px; top: 100px; }
    50% { left: 900px; top: 300px; transform: rotateX(50);}
    75% { left: 500px; top: 450px;  }
    100% { left: 900px; top: 300px; transform: rotateX(50);}
}
#diver3
{
    position: absolute;
    left: 100px;
    top: 200px;
    width: 350px;
    height: 800px; 
    animation: Diver2 10s linear infinite running;
    transform: rotateX(50);
}
@keyframes Diver3
{
    0% { left: 50px; top: 50px; }
    25% { left: 100px; top: 100px; }
    50% { left: 900px; top: 300px; transform: rotateX(50);}
    75% { left: 500px; top: 450px;  }
    100% { left: 900px; top: 300px; transform: rotateX(50);}
}
#cc1 {
    position: absolute;
    left: 500px;
    top: 300px;
    width: 450px;
    height: 1490px; 
    animation: Shark 20s linear infinite;
    transform: scaleX(2);
  }
  @keyframes cc1 {
    0% { left: 100px; top: 200px; }
    25% { left: 650px; top: 200px; }
    50% { left: 900px; top: 200px; transform: scaleX(-1); }
    75% { left: 500px; top: 200px; transform: scaleX(1); }
    100% { left: 100px; top: 200px; }
  }
